<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BreadCrumbs</title>
</head>
<body>
<div th:fragment="breadcrumbs">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:each="breadcrumb, breadcrumbStat : ${breadcrumbs}"
                th:class="${breadcrumbStat.last}? 'breadcrumb-item active' : 'breadcrumb-item'" th:aria-current="${breadcrumbStat.last}? 'page'">
                <div th:if="${!breadcrumbStat.last}" th:remove="tag">
                    <a th:href="${breadcrumb.getUrl()}" th:text="${breadcrumb.getName()}"></a>
                </div>
                <div th:if="${breadcrumbStat.last}" th:remove="tag">
                    <div th:text="${breadcrumb.getName()}" th:remove="tag"></div>
                </div>
            </li>
        </ol>
    </nav>
</div>
</body>
</html>