<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="append-option-box" style="visibility: hidden">
<div class="inner-context-box">
    <div data-function="new-folder">New Folder</div>
    <div data-function="new-date-folder" th:text="${'New Folder ('+date+')'}">New Folder(date)</div>
    <div data-function="folder-properties">Properties</div>
    <div class="date-folder-container">
        <form th:action="@{/createdatefolder}" method="post" class="date-folder-form">
            <input name="currentPath" type="hidden" th:value="${currentPath}">
        </form>
    </div>
</div>
</div>
</body>
</html>