<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:id="'myModal'+ ${iterStat.count}" class="modal fade image-modal" role="dialog" th:fragment="editing-modal">
    <div class="modal-dialog modal-dialog-bioview modal-dialog-scrollable">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Image editor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <label><b>Double click to close shape and stop</b></label>
                            <!--<input type="button" value="reset zoom" th:onclick="resetZoom([[${iterStat.count}]])">-->
                            <div class="img-div scene", th:id="'image-canvas-holder'+${iterStat.count}">
                                <canvas class="image-view-canvas" th:id="'canvas' + ${iterStat.count}"></canvas>
                                <!--<img class="modal-image" th:id="'image-canvas' + ${iterStat.count}" th:src="${'files/' + image.getActual()}"/>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <table class="table tag-table" th:id="${'ImageTags-' + image.getId()}" th:replace="fragments/tag-table"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>