<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Folder Tree Fragment</title>
</head>
<body>
<div th:fragment="FolderModals" >
    <div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="MoveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="moveModalLabel">Move folder(s) to</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/movefolder}" method="post" id="moveFolder">
                        <input name="currentPath" type="hidden" th:value="${currentPath}">
                        <input name="movedFolders" type="hidden">
                        <div class="move-to-tree" id="moveFolderTree"></div>
                        <br/><input class="btn btn-success" type="submit" value="Move" />
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="copyModalLabel">Copy folder(s) to</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/copyfolder}" method="post" id="copyFolder">
                        <input name="currentPath" type="hidden" th:value="${currentPath}">
                        <input name="copiedFolders" type="hidden">
                        <div class="copy-to-tree" id="copyFolderTree"></div>
                        <br/><input class="btn btn-success" type="submit" value="Copy" />
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameModalLabel">Rename folder to</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/renamefolder}" method="post" id="renameFolder">
                        <input name="currentPath" type="hidden" th:value="${currentPath}">
                        <input name="renamedFolder" type="hidden">
                        <input class="form-control input-sm" name="newFolderName" type="text" th:required="true">
                        <br/><input class="btn btn-success" type="submit" value="Rename" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="folderPropertyModal" tabindex="-1" role="dialog" aria-labelledby="folderPropertyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="folderPropertyModalLabel">Properties</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="property-template">
                        <table class="property-table">
                            <tr>
                                <td>Name:</td>
                                <td class="folder-property-name">N/A</td>
                            </tr>
                            <tr class="h-divider">
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Location:</td>
                                <td class="folder-property-location">N/A</td>
                            </tr>
                            <tr>
                                <td>Size:</td>
                                <td class="folder-property-size">N/A</td>
                            </tr>
                            <tr>
                                <td>Date Modified:</td>
                                <td class="folder-property-date">N/A</td>
                            </tr>
                        </table>
                        <div class="h-divider"></div>
                        <label for="unique-folder-tags">Tags</label><br>
                        <div class="bootstrap-tagsinput.static">
                            <input id="unique-folder-tags" class="unique-folder-tags-input" data-role="tagsinput" type="text">
                        </div>
                        <div class="folder-tags-pagination">
                            <a class="folder-tag-previous" href="#" data-url=""><i class="fas fa-angle-left fa-lg"></i></a>  <a class="folder-tag-next" href="#" data-url=""><i class="fas fa-angle-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>