<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Folder Manager</title>
    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>
</head>
<body>
<div class="folder-container container col-md-4" th:fragment="folder-manager">
    <div th:replace="fragments/folder-manager-navbar"></div>
    <div class="folder-manager rounded-bottom context-menu-folder-unselected">
        <ul id="folders" class="">
            <li data-file-icon="folder" class="existing-folder" th:each="folder: ${folders}">
                <form th:action="@{/imageview}" method="get">
                    <div class="context-menu-folder-selected">
                        <i class="fas fa-folder"></i>
                        <b class="folder-name" th:text="${folder.getName()}"></b>
                    </div>
                    <input name="location" type="hidden" th:default="testdata" th:value="${folder.getPath()}">
                    <input class="last-modified-date" type="hidden" th:value="${ folder.getDateModified()}">
                </form><br/>

            </li>
            <li data-file-icon="folder" class="folder-creation-container" style="display:none">
                <form th:action="@{/createfolder}" method="post" class="folder-creation-form">
                    <div class="created-folder context-menu-folder-selected">
                        <i class="fas fa-folder"></i>
                        <b class="created-title"><input id="dirInput" name="directoryName" type="text" th:required="true" th:value="${date}"></b>
                    </div>
                    <input name="currentPath" type="hidden" th:value="${currentPath}" th:default="testdata">
                    <!--<input type="submit" value="Create Folder here">-->
                </form>
            </li>
            <!--<div th:replace="fragments/context-menu-unselected"></div>-->
        </ul>
        <div th:replace="fragments/move-tree">
        </div>
    </div>
</div>

</body>
</html>