<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="moveImageModal" tabindex="-1" role="dialog" aria-labelledby="MoveImageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moveImageModalLabel">Move image(s) to</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/moveimage}" method="post" id="moveImage">
                    <input name="currentPath" type="hidden" th:value="${currentPath}">
                    <input name="movedImages" type="hidden">
                    <div class="move-to-tree" id="moveImageTree"></div>
                    <br/><input class="btn btn-success" type="submit" value="Move" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="copyImageModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyModalLabel">Copy image(s) to</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/copyimage}" method="post" id="copyImage">
                    <input name="currentPath" type="hidden" th:value="${currentPath}">
                    <input name="copiedImages" type="hidden">
                    <div class="copy-to-tree" id="copyImageTree"></div>
                    <br/><input class="btn btn-success" type="submit" value="Copy" />
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imgPropertyModal" tabindex="-1" role="dialog" aria-labelledby="imgPropertyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imgPropertyModalLabel">Properties</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="property-template">
                    <table class="property-table">
                        <tr>
                            <td>Name:</td>
                            <td class="img-property-name">N/A</td>
                        </tr>
                        <tr class="h-divider">
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>File type:</td>
                            <td class="img-property-type">N/A</td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td class="img-property-location">N/A</td>
                        </tr>
                        <tr>
                            <td>Size:</td>
                            <td class="img-property-size">N/A</td>
                        </tr>
                        <tr>
                            <td>Date Modified:</td>
                            <td class="img-property-date">N/A</td>
                        </tr>
                    </table>
                    <div class="h-divider"></div>
                    <label for="unique-image-tags">Tags</label><br>
                    <div class=".bootstrap-tagsinput">
                        <input id="unique-image-tags" class="unique-image-tags-input" data-role="tagsinput" type="text">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>