<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="images-window">
    <div class="container-fluid mt-4 mb-4">
        <div class="row justify-content-around">
            <div class="col-md-2" th:replace="fragments/breadcrumbs">

            </div>
            <div class="col-md-8">
                <div class="docs-galleSry col-12" >
                    <ul class="pictures clearfix" style="height:800px; overflow: scroll">
                        <li class="col-sm-12 col-md-6 col-lg-4" th:each="image, iterStat : ${Images}">

                            <a th:ondblclick="openDynamicModal([[${iterStat.count}]])" th:class="modallink" th:id="'link'+${iterStat.count}">
                                <img class="img-thumbnail img-fluid" th:src="${image}" />
                                <p th:text="${iterStat.count}">id</p>
                            </a>

                            <!-- Modal -->
                            <div th:id="'myModal'+ ${iterStat.count}" class="modal fade, image-modal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Image editor</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img class="modal-image" th:src="${image}"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
                function openDynamicModal(id){
                    $("#myModal"+ id).modal('toggle');
                }
                    // $(".modallink").on("dblclick", function () {
                    //     var listId = $('.image-modal').attr("id");
                    //     alert(listId);
                    //     $("#"+listId).modal('toggle');
                    // });
                    // $("#"+$('.image-modal').attr("id")).on('show.bs.modal', function (e){
                    //     var src = $(e.relatedTarget).attr('src');
                    //     $(this).find('.modal-body > img.modal-image').attr('src', src);
                    // });
            </script>
            <div class="col-md-2 border rounded" id="options">
                <nav class="nav flex-column">
                    <a class="nav-link" th:href="@{/upload}"><i class="fas fa-file-upload"></i> Upload New Image</a>
                    <a class="nav-link" th:href="@{/nextfolder}"><i class="fas fa-folder-plus"></i> Create new sub-directory</a>
                </nav>
            </div>

        </div>
    </div>
</main>
</body>
</html>

<!--<form th:id="'imageForm'+ ${image}" th:action="@{/image-editor}" th:method="post">-->
    <!--<input th:type="hidden" th:name="imagePath" th:value="${image}" />-->
    <!--<a th:ondblclick="document.getElementById('imageForm' + [[${image}]]).submit()">-->
        <!--<img class="img-thumbnail img-fluid" th:src="${image}" />-->
    <!--</a>-->
<!--</form>-->
<!--@{{beeld}(beeld=${image})}-->
<!--PATH NAAR ITEM MOET files/-->

