<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag Table fragment</title>
</head>
<body>
<table th:fragment="tag-table" class="table tag-table" th:id="${'ImageRois-' + image.getId()}" data-sortable="true" th:data-toggle="${'ImageRois-' + image.getId()}">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ph</th>
        <th scope="col">T</th>
        <th scope="col">O2</th>
        <th scope="col">CO2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    </tr>
    </tbody>

</table>


<div>
    <span th:id="${image.getId()}" class="button-span"><button id="add-button" class="btn btn-primary add-button"><i class="fas fa-plus"></i> Add New</button><button class="btn-primary btn save-button" id="save-button" hidden>Save</button> <button class="btn-primary btn cancel-button" id="cancel-button" hidden>Cancel</button></span>
</div>
<br>
<div><input class="TagInput" th:id="${'tag-input-roi-' + image.getId()}"  data-role="tagsinput" type="text" value=""></div>
</body>
</html>