<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap template</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">

                <ul>
                    <th:block th:each="folder: ${folders}">
                        <li><a data-toggle="collapse" th:data-target="${'#'+folder}"></a></li>
                            <ul class="collapse" th:id="${folder}">

                            </ul>

                    </th:block>

                    <li><a data-toggle="collapse" data-target="#desc">Design Contribution</a>
                        <ul class="collapse" id="desc">
                            <li><a data-toggle="collapse" data-target="#bc">Before Contributing</a>
                                <ul class="collapse" id="bc">
                                    <li><a href="#!">Tools and Files</a></li>
                                    <li><a href="#!">Environment Setup</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#mc">Make a Contribution</a>
                                <ul class="collapse" id="mc">
                                    <li><a href="#!">Ways to Contribute</a></li>
                                    <li><a href="#!">Contribution Process</a></li>
                                    <li><a href="#!">Issue Labels</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#devc">Development Contribution</a>
                        <ul class="collapse" id="devc">
                            <li><a href="#!">Repositories</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#equip">FAQ</a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#food">Setting Up Patternfly</a>
                    </li>
                </ul>
                </th:block>
            </div>


            <div class="col-sm-8">
            </div>
        </div>
    </div>
</body>
</html>