<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>

    <link th:href="@{/css/folder.css}" rel="stylesheet">
    <script th:src="@{/js/folder-manager.js}"></script>

    <title th:text="${currentPath.getName()}">File Browser</title>

</head>
<body>
<div id="breadcrumb" class="breadcrumb">
    <th:block th:each="breadcrumb : ${breadcrumbs}">
        <a th:href="${breadcrumb.getUrl()}" th:text="${breadcrumb.getName()}"></a>
        <li class="separator">&gt;</li>
    </th:block>
</div>

<div class="theme-structure folder-manager">
    <ul>
        <li data-file-icon="folder" th:each="folder: ${folders}">


            <i class="fas fa-folder folder-color fa-5x"></i>
            <b th:text="${folder.getName()}"></b>
            <form th:action="@{/nextfolder}" method="get">
                <!--/*@thymesVar id="getPath" type="File"*/-->
                <input name="folder" type="hidden" th:default="testdata" th:value="${folder.getPath()}">
                <!--<input type="submit" th:value="${folder.getName()}" th:default="testdata">-->
            </form><br/>

        </li>
    </ul>

</div>
<div>
    <form th:action="@{/createfolder}" method="post">
        <label for="dirInput">Name for new subdirectory:</label>
        <input id="dirInput" name="directoryName" type="text" th:required="true">
        <input name="currentPath" type="hidden" th:value="${currentPath}" th:default="testdata">
        <input type="submit" value="Create Folder here">
    </form>
</div>
<div>
    <form th:action="@{/createdatefolder}" method="post">
        <input name="currentPath" type="hidden" th:value="${currentPath}">
        <input type="submit" th:value="${'Create a directory '+date+' in '+currentPath.getName()}">
    </form>

</div>
<div>
    <ul>
        <!--displays every file currently uploaded-->
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" ></a>
        </li>
    </ul>
</div>
</body>
</html>